@charset "UTF-8";
/* ページ全体のスタイル
------------------------------------------ */

h1{
  margin:0;
  color:rgb(255, 255, 255);
}

p{
  margin:0;
  font-size:20px;
}

body{
  margin:0;
}

a{
  font-size:20px;
 color:rgb(255, 255, 255);
}


header{
  margin-bottom:20px;
  background-color: rgb(244, 79, 79);
  text-align:center;
 
}

main{
  padding:10px;
  margin:10px;
}

 #parent{
  display: flex;
  flex-direction:column;
 justify-content:space-around;
 }

 @media (min-width: 768px) {
   #parent{
  display: flex;
  flex-direction: row;

 }
 }


.contents{
  padding:10px 15px 10px 15px;
  margin:20px 0px 20px 0px;
  border: solid 3px rgb(238, 204, 204);
  text-align:center;
  flex-basis:25%;
}

h2{
 font-size:25px;
 border-bottom: dotted 3px rgb(236, 122, 122);
}

 @media (max-width: 768px) {
h2{
 font-size:30px;
}
 }


 @media (max-width: 768px) {
p{
 font-size:30px;
}
 }




h2::before {
     content: "●";
     color:rgb(239, 111, 139);
 }



img{
 margin:10px 10px 0px 0px;
 width:70%;
}


p:nth-child(3)::first-letter{
 font-weight: bold;
 color:rgb(97, 206, 249);
}

footer{
  background-color: rgb(244, 79, 79);
  text-align:center;
 
}


.link:visited{
  color: rgb(193, 234, 251)
}
 
.link:hover{
  color: rgb(245, 178, 168);
}

